.ProfileInformation {
  text-align: center;
}
.CardContent {
  margin: 0 auto;
  justify-content: flex-start;
  padding: 15px !important;
}
.Avatar {
  height: 77px !important;
  width: 77px !important;
}
.Content {
  margin-left: 15px;
  width: 77px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  text-transform: capitalize;
}
.Button {
  text-transform: capitalize;
  padding: 0px 10px !important;
  min-height: 30px !important;
  min-width: 100px;
  background-color: #363636 !important;
  margin: 0 2px !important;
}

.Unfollow {
  color: #fff !important;
}
.Follow {
  background-color: #096bde !important;
}
.Sheet {
  background-color: transparent;
}
.Buttons {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}

.Menu {
  position: absolute;
  z-index: 10000;
  right: 15px;
  top: 15px;
}
.MenuLink {
  text-decoration: none;
  color: unset;
}
.Bio {
  padding-left: 20px;
  padding-top: 10px;
  max-width: 500px;
  font-size: 12px !important;
  text-align: left;
}
.NoPosts {
  text-align: center;
  margin-top: 20px;
}
@media screen and (min-width: 600px) {
  .Content {
    flex-direction: row;
    align-items: baseline;
    height: unset;
  }
  .Name {
    margin: 5px !important;
  }
}

@media screen and (min-width: 767px) {
  .Avatar {
    height: 150px !important;
    width: 150px !important;
  }
}
